body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #b4ad9e;
}

a: {
    color: #898377;
}

header .navbar-brand {
    font-family: 'BungeeInline', monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 6px;
}

header .nav-item {
    font-family: 'BungeeInline', monospace;
    text-transform: uppercase;
    margin-left: 60px;
}

header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #000000;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
}

header .nav-item a:hover:after {
    transform: scale(1);
}

.slider {
    margin-bottom: 100px;
}

h2 {

    margin-bottom: 0px;
}

h3 {
    margin-bottom: 30px;
}

h5{
    font-family: 'Bungeenline', monospace;
}

.btn-dark{
    padding-right: 0px;
    padding-left: 0px;
}

.grid-post {
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.grid-post .card {
    border: 0;
    margin-bottom: 0px;
    padding-right: 40px;
}

.grid-post .card-body {
    padding-left: 0;
    padding-right: 0;
}

.grid-post .card-img-top {
    max-height: 250px;
    border-radius: 60px;
}

























@media only screen and (max-width: 1400px) {
    .grid-post .card-img-top {
        max-height: 250px;
    }
}

/* Large desktops and laptops */
@media only screen and (max-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media only screen and (max-width: 1199px) {
    .grid-post .card-img-top {
        max-height: 200px;

    }
}
@media only screen and (max-width: 992px){
    .grid-post .card-img-top {
        max-height: 200px;

    }
}
@media only screen and (max-width: 991px){
    header .nav-item{
        margin-left: 0;
    }
    .grid-post .card-img-top {
        max-height: 150px;
    }
}
@media only screen and (max-width: 768px){
}
/* Portrait tablets and small desktops */
@media only screen and (max-width: 767px){
    .grid-post{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .grid-post .card{
       margin-bottom: 50px;
    }
    .grid-post .card-img-top {
        max-height: 100%;
    }
}

@media only screen and (max-width: 650) {

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 540px) {
     
}

/* Landscape phones and smaller */
@media only screen and (max-width: 480px) {

}

